// Reset
@import "../reset";

// Fonts
@import "../fonts";

body {
  background: #eaeaea;
  font-family: "Montserrat";
}

* {
  box-sizing: border-box;
}

//                wrapper
.wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;

  max-width: 1110px;
  margin: 0 auto;
}

//                  header

@import "../components/header";

//                  content
.content {
  .wrapper {
   
    justify-content: center;
  }
}

.content__map {
  display: flex;
  flex-direction: column;
}
.content__map-sec {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 760px;
  margin: 27px 0 44px 0;

  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}
.map-sec__heading {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;

  margin: 15px 0 20px 17px;

  color: #1c1c27;
}
.map-sec__map {
  width: 722px;
  height: 424px;
  margin: 0 18px;

  background-color: #838383;
}
.map-sec__text-box {
  margin: 13px 0 27px 17px;

padding-left: 33px;

  background-image: url(/assets/icons/address-point.png);
  background-repeat: no-repeat;
  background-size: 21px 22px;
  background-position: left;
}
.map-sec-text-box__heading {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;

  color: #000000;
}
.map-sec-text-box__subheading {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;

  color: #838383;
}
.map-sec__phone {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  
  margin-bottom: 40px;

  padding-left: 60px;

  background-image: url(/assets/icons/phone-handset.png);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: left;
}
.content__links {
   width: 100%;
  max-width: 97px;
  height: 431px;
  
  margin-left: 60px;
  margin-top: 27px;
  
}
.content__links-box {
  display: flex;
  flex-direction: column;
  gap: 14px;

  width: 100%;
  max-width: 97px;
  height: 431px;

.content__link {
  width: 97px;
  height: 97px;

  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 30px;

  background-size: 40px 40px;
  background-position: center
}}


//                  /. content

//                      footer

@import "../components/footer";
