// Reset
@import "./reset";

// Fonts
@import "./fonts";

body {
  background: #eaeaea;
}

* {
  box-sizing: border-box;
}

//                wrapper
.wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;

  max-width: 1110px;
  margin: 0 auto;
}

//                  header

@import "/styles/components/header";

//                     banner
.banner {
  .wrapper {
    background: #101010;
    height: 197px;
    border-radius: 30px;
    background-image: url(/assets/img/iPhone-banner.png);
    background-repeat: no-repeat;
    background-position: right;
    align-items: center;
    margin-top: 22px;
  }
}
.banner__text {
  max-width: 283px;
  margin-left: 230px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  text-align: center;

  color: #ffffff;
}
//                      content
.content {
  .wrapper {
    display: flex;
    flex-direction: column;
  }
}

.grid-goods {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.content__cases {
}
.content__heading {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

  color: #838383;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 20px;
  .content-cases__heading {
  }
}
.simple-item {
  width: 349px;
  height: 408px;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #fff;
  border-radius: 30px;
}
.content__case-item {
}
.case-item__img {
  width: 151px;
  height: 292px;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 25px auto 20px;
}
.case-item__img-1 {
  background-image: url(/assets/img/case-glass.png);
}
.case-item__img-2 {
  background-image: url(/assets/img/case-silicon.png);
}
.case-item__img-3 {
  background-image: url(/assets/img/case-lather.png);
}
.case-item__name {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;

  color: #1c1c27;
}

.content__earphones {
  flex-wrap: wrap;
}
.content-earphones__heading {
}
.full-item {
  width: 349px;
  height: 408px;
  display: flex;

  padding: 15px 22px 35px 22px;

  flex-direction: column;
  align-items: flex-start;

  background-color: #fff;
  border-radius: 30px;
}
.content-earphones__item {
}

.earphone-item__name {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
  width: 100%;

  display: flex;
  justify-content: space-between;

  color: #1c1c27;
}
.span-price {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;

  color: #ffa542;
}

.earphone-item__star:before {
  width: 23px;
  height: 23px;
}
.earphone-item__star {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
  margin-top: 25px;
  padding-left: 30px;
  background-image: url(/assets/icons/star.png);
  background-repeat: no-repeat;

  color: #838383;
}
.earphones-item__img {
  max-width: 220px;
  width: 100%;
  max-height: 240px;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 15px auto 55px;
}
.earphones-item__img-1 {
  background-image: url(/assets/img/earphone-1.png);
}
.earphones-item__img-2 {
  background-image: url(/assets/img/earphone-2.png);
}
.earphones-item__img-3 {
  background-image: url(/assets/img/earphone-3.png);
}
.earphones-item__img-4 {
  background-image: url(/assets/img/earphone-1.png);
}
.earphones-item__img-5 {
  background-image: url(/assets/img/earphone-2.png);
}
.earphones-item__img-6 {
  background-image: url(/assets/img/earphone-3.png);
}

.content__wireless {
}
.content-wireless__heading {
}
.content-wireless__item {
}
.wireless-item__name {
}
.wireless-item__img-1 {
  background-image: url(/assets/img/airpods.png);
}
.wireless-item__img-2 {
  background-image: url(/assets/img/airpods-2.png);
}
.wireless-item__img-3 {
  background-image: url(/assets/img/earphone-4.png);
}

//                      footer

@import "./components/footer";
